.cta {
    background-color: #005DFF;
    color: white;
    font-size: clamp(0.8rem, 0.7692rem + 1.0256vw, 1.8rem);
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.cta:hover{
    background-color: #004bce;
}

@media screen and (max-width: 400px) {
    .cta {
        padding: 4px 8px;
    }
}

