.cta {
    background-color: #005DFF;
    color: white;
    font-size: clamp(1rem, 0.8558rem + 0.641vw, 1.625rem);
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    width: fit-content;
    font-weight: 600;
}

.cta:hover, .cta:focus-visible{
    background-color: #004bce;
}

.cta--special {
    background-color: transparent;
    color: #005DFF;
}

.cta--special:hover, .cta--special:focus-visible {
    background-color: #005DFF;
    color: white;
}

@media screen and (max-width: 400px) {
    .cta {
        padding: 4px 8px;
    }
}

